@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import 'reactjs-popup/dist/index.css';

:root {
  --color-main: #ffffff;
  /* --color-highlight: #0088CC; */
  --color-accent: #34495e;
  --color-highlight-text: #ffffff;
}

body {
  color: var(--color-foreground);
  font-family: Mulish, "Open Sans", sans-serif;
  overflow-y: scroll;
  /* overflow-x: hidden; */
}

a {
  color: var(--color-accent-light-3);
  text-decoration: none;
}

input {
  color: black;
  background: white;
}

html.dark {
  input {
    @apply shadow-md;
    color: white;
    background: rgb(255 255 255 / 0.05);
    border: none
  }
}

.popup-content {
  width: auto;
}


::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #666666;
  transition: background-color 0.25s ease;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  transition: background-color 0.25s ease;
  background-color: #8c8c8c;
}
::-webkit-scrollbar-thumb:active {
  background: #333333;
}
::-webkit-scrollbar-track {
  /* background: #12151a; */
  /* border-radius: 0 20px 0 0; */
}
::-webkit-scrollbar-track:hover {
  background: #1c2129;
}
::-webkit-scrollbar-track:active {
  background: #272d38;
}
::-webkit-scrollbar-corner {
  background: transparent;
}