name: 'Build Browser Extension'

on:
  push:
    branches:
      - main

jobs:
  build-extension:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'ubuntu-22.04'
            args: ''

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm install --global --force corepack@latest && corepack enable && corepack prepare pnpm@10.10.0 --activate
      - name: install app dependencies and build it
        working-directory: ./packages/browser-extension
        run: pnpm install
      - name: cleanup
        run: |
          rm postcss.config.js
      - name: build
        working-directory: ./packages/browser-extension
        run: |
          TARGET=chrome pnpm build && ls && cd ./dist && zip -r ../extension.chrome.zip . && cd .. && rm -rf dist
          TARGET=firefox pnpm build && ls && cd ./dist && zip -r ../extension.firefox.zip . && cd .. && rm -rf dist
      - name: upload chrome extension
        uses: actions/upload-artifact@v4
        with:
          name: chrome-extension
          path: |
            ./packages/browser-extension/extension.chrome.zip
      - name: upload firefox extension
        uses: actions/upload-artifact@v4
        with:
          name: firefox-extension
          path: |
            ./packages/browser-extension/extension.firefox.zip

