name: test build

on:
  push:
    branches-ignore:
      - release

jobs:
  build-tauri:
    strategy:
      matrix:
        platform: [macos-latest, ubuntu-20.04]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-20.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf
      - name: install app dependencies and build it
        run: pnpm install

      - name: use mold
        uses: rui314/setup-mold@v1

      - name: cache rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: "src-tauri"

      - name: check builds
        run: |
          pnpm vite build
          cargo check --manifest-path=src-tauri/Cargo.toml -p app
